[Desktop Entry]
Name=Генератор паролей
Name[ru]=Генератор паролей
Comment=Генератор криптографически надёжных паролей
Comment[ru]=Генератор криптографически надёжных паролей
Exec=/usr/bin/password-generator
Icon=password-generator
Terminal=false
Type=Application
Categories=Utility;Security;System;
Keywords=password;security;generator;пароль;безопасность;генератор;
StartupNotify=true